body{
    background-color: darkgreen;
}
.body__title{
    font-size: 35px ;
    font-family: sans-serif;
    font-style: normal;
    color: #d3d3d3;
    text-shadow: 5px 2px 15px #000;
    margin-left: 100px;
}
.tasbex{
    max-width: 500px;
    margin: 0 auto;
    background-color: #d3d3d3;
    border-radius: 10px;
    height: 440px;
    box-shadow: 2px 2px 38px #d3d3d3;
}
.title{
    text-align: center;
    font-size: 50px;
    padding-top: 30px;
}
.counter{
    text-align: center;
    font-size: 100px;
}
.btns{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 0 30px;

    .btn1{
        border: none;
        width: 150px;
        height: 50px;
        background-color: #d3d3d3;
        color: #000;
        font-family: sans-serif;
        font-style: normal;
        border-radius: 6px;
        transition: .3s;
        cursor: pointer;
        

    }
    .btn1:hover{
        background-color: darkgreen;
        color: #fff;
        transform: scale(1.05);
        box-shadow: 2px 2px 18px #000;
    }
    .btn1:active{
        transform: scale(1.10);
    }
    .btn2{
        border: none;
        width: 100px;
        height: 50px;
        background-color: #d3d3d3;
        color: #000;
        font-family: sans-serif;
        font-style: normal;
        border-radius: 6px;
        transition: .3s;
        cursor: pointer;
        

    }
    .btn2:hover{
        background-color: darkgreen;
        color: #fff;
        transform: scale(1.05);  
        box-shadow: 2px 2px 18px #000;
    }
    .btn2:active{
        transform: scale(1.10);
    }
}